@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark: #0B0D17;
    --clr-light: #D0D6F9;
    --clr-white: #FFFFFF;

    --ff-bellfair: "Bellefair", serif;
    --ff-barlow: "Barlow", sans-serif;
    --ff-barlow-condensed: "Barlow Condensed", sans-serif;
}

body {
    font-family: var(--ff-barlow);
    background-color: var(--clr-dark);
    background-image: url('/starter-code/assets/crew/background-crew-desktop.jpg');
    background-position: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-top: 1%;
}

.links {
    display: flex;
    gap: 1.5rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    width: 60%;
    padding-left: 10%;
}

.links a {
    color: var(--clr-white);
    text-decoration: none;
    position: relative;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 1.3rem 0;
    /* border-bottom:2px solid red ; */
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: var(--clr-white);
    transition: width 0.3s ease;

}

.links a:hover {
    color: #D0D6F9;
    /* text-decoration: underline; */
}

.links a:hover::after,
.links a.active::after {
    width: 100%;
}

.icon-menu {
    display: none;
}


section {
    width: 1000px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: var(--ff-bellfair);
    color: #FFFFFF;
}

button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
    border: none;
}

button.active {
    background: var(--clr-white);
}

.hero-section {
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
}

.left {
    width: 600px;
}

h2 {
    color: var(--clr-white);
    margin-bottom: 10rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    /* opacity: 0.8; */
    font-weight: 500;
}

span {
    opacity: 0.8;
}

h3 {
    color: var(--clr-white);
    margin-bottom: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 500;
}

h1 {
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

p {
    width: 400px;
    opacity: 0.8;
    line-height: 1.8;
}

.crew-btn {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.right img {
    width: 370px;
}

.mobile {
    display: none;
}


@media (max-width:759px) {
    body {
        background-image: url('/starter-code/assets/crew/background-crew-mobile.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .links {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 80%;
        min-height: 60vh;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        border-radius: 10px;
        justify-content: center;
        margin: 6rem auto 0;
        padding: 1rem;
        box-shadow: 1px 1px 1px 1px silver;
        transition: all 1s ease;
        z-index: 98;

    }

    .links.active {
        right: 0;
        left: 0;
    }

    .links a {
        text-align: center;
    }

    nav {
        width: 100%;
        padding: 1rem 1rem 0;
    }

    .menu-open {
        display: inline-block;
    }

    .menu-open.active {
        display: none;
    }

    .menu-close {
        display: none;
    }

    .menu-close.active {
        display: block;
    }

    section {
        width: 100%;
    }

    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .left {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .mobile {
        display: block;
        margin-top: 2rem;
        padding-left: 1rem;
    }

    .left h2 {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    .left p {
        width: 100%;
    }

    .right img {
        width: 100vw;
    }

    .crew-btn {
        justify-content: center;
    }
}

@media screen and (min-width: 760px) and (max-width: 900px) {
    body {
        background-image: url('/starter-code/assets/crew/background-crew-tablet.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    section {
        width: 100%;
    }

    .hero-section {
        flex-direction: column-reverse;
        justify-content: center;
        /* min-height: 100vh; */
        gap: 5rem;
    }

    .mobile {
        display: block;
        margin-top: 2rem;
        padding-left: 1rem;
    }

    .left{
        text-align: center;
    }

    .left p{
        margin: 0 auto;
    }

    .crew-btn{
        justify-content: center;
    }

    .left h2 {
        display: none;
    }

    .right img{
        width: 60vw;
    }


}