@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-dark: #0B0D17;
    --clr-light: #D0D6F9;
    --clr-white: #FFFFFF;

    --ff-bellfair: "Bellefair", serif;
    --ff-barlow: "Barlow", sans-serif;
    --ff-barlow-condensed: "Barlow Condensed", sans-serif;
}

body {
    font-family: var(--ff-barlow);
    background-color: var(--clr-dark);
    background-image: url('/starter-code/assets/home/background-home-desktop.jpg');

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-top: 1%;
}

.links {
    display: flex;
    gap: 1.5rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.04);
    width: 60%;
    padding-left: 10%;
}

.links a {
    color: var(--clr-white);
    text-decoration: none;
    position: relative;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 1.3rem 0;
    /* border-bottom:2px solid red ; */
}

.links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: var(--clr-white);
    transition: width 0.3s ease;

}

.links a:hover {
    color: #D0D6F9;
    /* text-decoration: underline; */
}

.links a:hover::after,
.links a.active::after {
    width: 100%;
}

.icon-menu {
    display: none;
}

section {
    width: 1000px;
    margin: 0 auto;
}

.hero-section {
    color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.left {
    width: 420px;
}

h1,
h2,
h3 {
    font-family: var(--ff-bellfair);
}

.left h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 500;
    margin-bottom: 1rem;
}

.left h1 {
    font-weight: 500;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.left p {
    opacity: 0.7;
    font-size: 1rem;
}

.circle {
    width: 200px;
    height: 200px;
    background: var(--clr-white);
    color: var(--clr-dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

@media (max-width:759px) {
    body {
        background-image: url('/starter-code/assets/home/background-home-mobile.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .links {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 80%;
        min-height: 60vh;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(40px);
        border-radius: 10px;
        justify-content: center;
        margin: 6rem auto 0;
        padding: 1rem;
        box-shadow:  1px 1px 1px 1px silver;
        transition: all 1s ease;
        z-index: 98;

    }

    .links.active{
        right: 0;
        left: 0;
    }

    .links a {
        text-align: center;
    }

    nav {
        width: 100%;
        padding: 1rem 1rem 0;
    }

    .menu-open {
        display: inline-block;
    }

    .menu-open.active {
        display: none;
    }

    .menu-close {
        display: none;
    }

    .menu-close.active {
        display: block;
    }

    section {
        width: 100%;
    }

    .hero-section {
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        gap: 5rem;
    }

    .left {
        text-align: center;
        width: 100%;
        padding: 1rem;
    }

    .left h1 {
        font-size: 5.5rem;
    }

    .left h3 {
        font-size: 1.3rem;
    }

    .left p {
        line-height: 1.8;
    }
}

@media screen and (min-width: 760px) and (max-width: 900px) {
    body {
        background-image: url('/starter-code/assets/home/background-home-tablet.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    section {
        width: 100%;
    }

    .hero-section {
        flex-direction: column;
        justify-content: center;
        /* min-height: 100vh; */
        gap: 5rem;
    }

    .left {
        width: 100%;
    }

    .left {
        text-align: center;
        width: 100%;
        padding: 1rem;
    }

    .left h1 {
        font-size: 5.5rem;
    }

    .left h3 {
        font-size: 1.3rem;
    }

    .left p {
        line-height: 1.8;
        width: 430px;
        margin: 0 auto;
    }
}